<ion-header>
  <ion-toolbar>

    <ion-title color="primary" align="center">

      Just In Time

    </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container ion-text-center">
    <p>Faça Login na sua Conta</p>
    <div class="visitante">
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input type="email" color="light"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Senha</ion-label>
        <ion-input type="password" color="light"></ion-input>
      </ion-item>
      <ion-button expand="block"  (click)="save()">Entrar</ion-button>
    </div>
    <div class="logos">
      <a href="" (click)="loginGoogle()">
        <ion-icon name="logo-google" id="Google"></ion-icon>
      </a>
      <a href="" (click)="loginFacebook()">
        <ion-icon name="logo-facebook" id="Facebook"></ion-icon>
      </a>
    </div>
  </div>
</ion-content>
